@font-face {
  font-family: 'NanumBaReunJeongSin';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumBaReunJeongSin/NanumBaReunJeongSin.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumBaReunJeongSin/NanumBaReunJeongSin.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumBaReunJeongSin/NanumBaReunJeongSin.ttf') format('truetype');
}